
 	html{
 		width: 100%;
 	}

	body{
		max-width: 100%;
		background-color: white;
	}



	.dashboard-container{
		
		width: 100%;	
		margin-bottom: 5%;
		padding: 3px;
		height: auto;
		background-color: white;
		border-radius: 8px; 

	}

	.dasboard-wrapper{
		margin: 1vw;
	}

	.header{
		margin-left: 45%;
		font-weight: 400%;		
	}

	h3{
		margin-top: 10px;
		margin-bottom: -20px;
	}

	.content{
		position: relative;
		max-width: 100%;
		background-color: white;
		margin: 2%;
		padding: 2%;
		max-height: 70%;
	}



	.tool-area{
		margin-left: 68%;
		display: inline-block;
		margin-bottom: 20px;
		
	}

	.save-changes{
		display: inline-block;
		margin-left: 58%;
		margin-bottom: 20px;
	}

	.hidden{
		border: hidden;
		background-color: transparent;

	}

	.modal{
		margin-top: 10%;
	}

	.select-style{
		height: 3vw;
		border-color: lightgrey;
	}

	.navbar{
		margin-bottom: 0px !important;
	}
	

	.btn-pink{
			
		background-color: black;
		color: white;
	}

	.btn-dark{
		background-color: black;
		color: white;
	}
	

/*	.bg-pink{
		background-color: #ffb6c1;
		color: black;
	}*/

	.navbar-sm{
		height:auto;
		background-blend-mode: soft-light;
		z-index: 999;

	}

  nav{
  	position: sticky !important;
  	width: auto;
  	z-index: 999;
  	top: 0;
  	left: 0;
  }

	button:hover {
	  background-color: lightblue;
	}


	select {
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  text-indent: 1px;
		}

            /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    ul {
      margin-left: 5%;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white !important;
	  font-family: sans-serif;
	  font-size: 12px;
	  text-align: center;
	  margin-top: 0.5vw;
	  padding-left: 25px;
	  text-decoration: none;
	}

	a{
		color: white;
	}

	li a:hover {
	  color: #c7eeeb;
	  text-decoration: none;
	}

	label{
		font-size: 1vw !important;
	}

	th{
	text-align: center;
	position: sticky !important;
  	z-index: 999;
  	font-size: 12px;
  	top: 6%;
  	left: 0;
	}

	.note-texts{
		font-style: italic;
		color: grey;
		font-size: 16px;
		margin-left: 3%;
		margin-bottom: 5px;
	}

	.search-table-head{
		margin-bottom: 2px;
		padding-bottom: 8%;
		margin-top: -5px;
		padding-top: 5%;
		background-color: white; 
		position: sticky !important;
	  	z-index: 998;
	  	top: 5.7%;
	  	left: 0;
	}

	.thead-pink{
		/*background-color: pink;*/
		position: sticky !important;
	  	z-index: 999;
	  	top: 12%;
	  	left: 0;

	}

	th{
	text-align: center;
	position: sticky !important;
  	z-index: 999;
  	top: 6%;
  	left: 0;
	}

	td input{
		text-align: center;
	}


	.filter_err{
		margin-left: 87%;
		color: darkred;
	}

		#hideMe {
		    -moz-animation: cssAnimation 0s ease-in 8s forwards;
		    /* Firefox */
		    -webkit-animation: cssAnimation 0s ease-in 8s forwards;
		    /* Safari and Chrome */
		    -o-animation: cssAnimation 0s ease-in 8s forwards;
		    /* Opera */
		    animation: cssAnimation 0s ease-in 8s forwards;
		    -webkit-animation-fill-mode: forwards;
		    animation-fill-mode: forwards;
		}
		@keyframes cssAnimation {
		    to {
		        width:0;
		        height:0;
		        overflow:hidden;
		    }
		}
		@-webkit-keyframes cssAnimation {
		    to {
		        width:0;
		        height:0;
		        visibility:hidden;
		    }
		}


    .nav-icon{
    	margin-left: 2%;
    }
/*	table {
    width: 100%;
    display:block;
	}

	thead {
	    display: inline-block;
	    width: 100%;
	    height: 20px;
	}
	tbody {
	    height: 450px;
	    display: inline-block;
	    width: 100%;
	    overflow: auto;
	}*/


/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
   
 	html{
 		width: 100%;
 	}

	body{
		max-width: 100%;
		background-color: #white;
	}



	.dashboard-container{
		
		width: 100%;	
		margin-bottom: 5%;
		padding: 3px;
		height: auto;
		background-color: white;
		border-radius: 8px; 

	}

	.dasboard-wrapper{
		margin: 1vw;
	}

	.header{
		margin-left: 45%;
		font-weight: 400%;		
	}

	h3{
		margin-top: 10px;
		margin-bottom: -20px;
	}

	.content{
		position: relative;
		background-color: white;
		margin: 2%;
		padding: 2%;
		max-height: 70%;
	}



	.tool-area{
		margin-left: 68%;
		display: inline-block;
		margin-bottom: 20px;
		
	}

	.save-changes{
		display: inline-block;
		margin-left: 58%;
		margin-bottom: 20px;
	}

	.hidden{
		border: hidden;
		background-color: transparent;

	}

	.modal{
		margin-top: 10%;
	}

	.select-style{
		height: 3vw;
		border-color: lightgrey;
	}

	.navbar{
		margin-bottom: 0px !important;
	}
	

	.btn-pink{
		background-color: black;
		color: white;
	}

	/*.bg-pink{
		background-color: #ffb6c1;
		color: black;
	}*/

	.navbar-sm{
		height:auto;
		background-blend-mode: soft-light;
		z-index: 999;

	}

  nav{
  	position: sticky !important;
  	width: auto;
  	z-index: 999;
  	top: 0;
  	left: 0;
  }

	button:hover {
	  background-color: lightblue;
	}


	select {
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  text-indent: 1px;  
		}

            /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    ul {
      margin-left: 5%;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: black;
	  font-family: sans-serif;
	  font-size: 12px;
	  text-align: center;
	  margin-top: 0.5vw;
	  padding-left: 25px;
	  text-decoration: none;
	}


	li a:hover {
	  color: #c7eeeb;
	  text-decoration: none;
	}

	.note-texts{
		font-style: italic;
		color: grey;
		font-size: 16px;
		margin-left: 3%;
		margin-bottom: 5px;
	}

	.search-table-head{
		margin-bottom: 2px;
		padding-bottom: 20px;
		margin-top: -5px;
		padding-top: 5px;
		background-color: white; 
		position: sticky !important;
	  	z-index: 998;
	  	top: 5.7%;
	  	left: 0;
	}

	.thead-pink{
		/*background-color: pink;*/
		position: sticky !important;
	  	z-index: 999;
	  	top: 12%;
	  	left: 0;

	}



	td input{
		text-align: center;
	}


	.filter_err{
		margin-left: 87%;
		color: darkred;
	}

		#hideMe {
		    -moz-animation: cssAnimation 0s ease-in 8s forwards;
		    /* Firefox */
		    -webkit-animation: cssAnimation 0s ease-in 8s forwards;
		    /* Safari and Chrome */
		    -o-animation: cssAnimation 0s ease-in 8s forwards;
		    /* Opera */
		    animation: cssAnimation 0s ease-in 8s forwards;
		    -webkit-animation-fill-mode: forwards;
		    animation-fill-mode: forwards;
		}
		@keyframes cssAnimation {
		    to {
		        width:0;
		        height:0;
		        top: 500px;
		        overflow:hidden;
		    }
		}
		@-webkit-keyframes cssAnimation {
		    to {
		        width:0;
		        height:0;
		        top: 500px;
		        visibility:hidden;
		    }
		}


    .nav-icon{
    	margin-left: 2%;
    }
/*	table {
    width: 100%;
    display:block;
	}

	thead {
	    display: inline-block;
	    width: 100%;
	    height: 20px;
	}
	tbody {
	    height: 450px;
	    display: inline-block;
	    width: 100%;
	    overflow: auto;
	}*/

}

	/* (1920x1080) Full HD Display */
@media  screen and (min-width: 1920px) {
    html{
    	height: auto;
 		width: 1920px !important;
 		margin: 0px;
 		font-size: 1.1vw;
 	}

	body{
		display: block;
		width: 1920px;
		overflow-x: hidden;
		
	}



	.dashboard-container{
		
		min-width: 1920px !important;
		
		margin-bottom: 5%;
		padding: 3px;
		height: auto;
		background-color: white;
		border-radius: 8px; 

	}

	.dasboard-wrapper{
		margin: 1vw;
	}

	.header{
		margin-left: 45%;
		font-weight: 400%;		
	}

	h3{
		margin-top: 10px;
		margin-bottom: -20px;
	}

	.content{
		position: relative;
		width: 100%;
		background-color: white;
		margin: 2%;
		padding: 2%;
		max-height: 70%;
	}

	.navbar, .navbar-dark, .bg-pink, .navbar-sm{
		max-width: 100%;
	}

	.tool-area{
		margin-left: 68%;
		display: inline-block;
		margin-bottom: 20px;
		
	}

	.save-changes{
		display: inline-block;
		margin-left: 58%;
		margin-bottom: 20px;
	}

	.hidden{
		border: hidden;
		background-color: transparent;

	}

	.modal{
		margin-top: 10%;
	}

	.select-style{
		height: 3vw;
		border-color: lightgrey;
	}

	.navbar{
		margin-bottom: 0px !important;
	}
	

	.btn-pink{
		background-color: black;
		color: white;
	}

/*	.bg-pink{
		background-color: #ffb6c1;
		color: black;
	}*/

	.navbar-sm{
		height:auto;
		background-blend-mode: soft-light;
		z-index: 999;

	}

  nav{
  	position: sticky !important;
  	width: 100% !important;
  	z-index: 999;
  	top: 0;
  	left: 0;
  }

	button:hover {
	  background-color: lightblue;
	}


	select {
		  -webkit-appearance: none;
		  -moz-appearance: none;
		  text-indent: 1px;
		  text-overflow: '';
		}

            /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    ul {
      margin-left: 5%;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  width: 100%;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: black;
	  font-family: sans-serif;
	  font-size: 1vw;
	  text-align: center;
	  margin-top: 0.5vw;
	  padding-left: 25px;
	  text-decoration: none;
	}


	li a:hover {
	  color: #c7eeeb;
	  text-decoration: none;
	}

	.note-texts{
		font-style: italic;
		color: grey;
		font-size: 16px;
		margin-left: 3%;
		margin-bottom: 5px;
	}

	.search-table-head{
		margin-bottom: 2px;
		padding-bottom: 20px;
		margin-top: -5px;
		padding-top: 5px;
		background-color: white; 
		position: sticky !important;
	  	z-index: 998;
	  	top: 3.7%;
	  	left: 0;
	}

	.thead-pink{
		/*background-color: pink;*/
		position: sticky !important;
		width: 100%;
	  	z-index: 999;
	  	top: 8%;
	  	left: 0;

	}

	th{
		text-align: center;
		position: sticky !important;
  	z-index: 999;
  	top: 6%;
  	left: 0;
	}

	td input{
		text-align: center;
	}


	.filter_err{
		margin-left: 87%;
		color: darkred;
	}

		#hideMe {
		    -moz-animation: cssAnimation 0s ease-in 5s forwards;
		    /* Firefox */
		    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
		    /* Safari and Chrome */
		    -o-animation: cssAnimation 0s ease-in 5s forwards;
		    /* Opera */
		    animation: cssAnimation 0s ease-in 5s forwards;
		    -webkit-animation-fill-mode: forwards;
		    animation-fill-mode: forwards;
		}


		@keyframes cssAnimation {
		    to {
		        width:0;
		        height:0;
		        overflow:hidden;
		    }
		}
		@-webkit-keyframes cssAnimation {
		    to {
		        width:0;
		        height:0;
		        left: 3000px;
		        visibility:hidden;
		        background-color: white !important;
		        display: none;
		    }
		}


    .nav-icon{
    	margin-left: 2%;
    }
}